body{
    margin:0;
    font-family:Poppins,sans-serif;
    color:#333;
    background:
        linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)),
        url("../images/homePage.png") center/cover fixed;
}